* {
    /* Блочная модель */
    box-sizing: border-box;
}

html {
    /* Разное */
    scroll-behavior: smooth;
}

body {
    /* Блочная модель */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    
    /* Типографика */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;

    /* Оформление */
    border: 1px solid red;
}

.container {
    /* Блочная модель */
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    /* Блочная модель */
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* Оформление */
    list-style: none;
}

.nav-link {
    /* Блочная модель */
    padding: 0 20px;

    /* Типографика */
    line-height: 50px;
}

.main-container {
    /* Блочная модель */
    display: flex;
    flex-wrap: wrap;
}

.section {
    /* Блочная модель */
    width: 50%;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}

@media (max-width: 768px) {
    .section {
        /* Блочная модель */
        width: 100%;
    }
}